.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carpet-container {
    background-color: #CFCDC8;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-between;
}

img {
    object-fit: cover;
    max-height: 100%;
    height: 250px;
    width: 250px;
}

h3 {
    padding-bottom: -5px;
}

h2 {
    font-family: 'Poiret One', cursive;
}